process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
    ]

    withName: INTEGRONFINDER {
        ext.args   = "--calin-threshold 0"
        publishDir = [
            path: { "${params.outdir}/integron_finder/" },
            mode: params.publish_dir_mode,
            pattern: "*.integrons",
        ]
    }

    withName: PARSE_INTEGRON_RESULTS {
        publishDir = [
            path: { "${params.outdir}/integron_finder/" },
            mode: params.publish_dir_mode,
        ]
    }
}
